@font-face {
    font-family: 'Japanese3017';
    src: url('http://localhost/public/Japanese3017.ttf') ;
    font-style: normal;
    font-weight: normal;
  }

body {
    background: url(http://localhost/public/img/background.jpg) no-repeat   center center fixed;
    background-size: cover;
    padding:20px;
   /* font-family: "Japanese3017";*/
    font-size: 1rem;
}
.contenido{
    justify-content:space-around;

}
::-webkit-scrollbar {
    display: none;
    }
.menu,.pedido{
    background-color: rgba(231, 226, 226, 0.6);
    border-radius: 2%;
    overflow-y: scroll;
    height: 85vh;
    box-shadow: 5px 5px 5px black;
    text-align: center;
    justify-content: center !important;
    
}
.lista{
    height: 80vh;
    border :1px solid black;
    background-color: rgba(231, 226, 226, 0.8);
    margin: 1rem;
    text-decoration: underline;
    
}



.lista h5{
    text-align: right;
}

.finalizar-pedido{
    display: block;
    right: 10px;
    position: absolute;
    border: 1px solid black;
    background-color: rgb(20, 180, 20);
    margin: 0.5rem;

    
}

a{
    color: white;
}



.card{
    width: 90% !important;
    background-color: rgba(0, 0, 0, 0.3);
    margin:5%;
    
}
.dropdown-menu p{
    text-align: center;
}

@media (max-width:300px){

    
    
}
/*
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

#botonClick,#botonClicka,#botonClickg{
    background-color: rgba(39, 201, 39,0);
    border:none;
}

#botonClick img,#botonClick1 img,#botonClicka img,#botonClick1a img,#botonClickg img,#botonClick1g img{
    width: 20%;
    height: 70%;
}


#botonClick1,#botonClick1a,#botonClick1g{
    display: none;
    border: none;
    background-color: rgba(39, 201, 39,0);;
}

.botones{
    display: flex;
    justify-content: space-between;
}

#suma:hover,#resta:hover{
    width: 22%;
    height: 74%;
}


*/



